html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background:url("https://i.pinimg.com/564x/97/b8/a0/97b8a07950a8ea19ed0bbee1ee20c956.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Oswald', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Anton', sans-serif;
    font-weight: 300;
    font-size: 36px;
    color: rgb(105, 102, 102);
    text-transform: uppercase;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: #bbb;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #9CA;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #EBB;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #896;
    font-size: 33px;
}
.deck .card.disable {
    pointer-events: none;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
    background: #ebb;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
    padding-right: 5px;
    color: rgb(243, 227, 174);
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

/*styling the modal box*/

.modal_container {
    display: none;
    background-color: #ccc;
    width: 50%;
    height: 400px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal_container .show {
    margin: 0 auto;
    background: #ccc;
    text-align: center;
    width: 50%;
    height: 50%;
    top: 50%;    
}

#modal .modal_stars {
    margin: 0;
    padding: 0;
    display: inline-block;
}

#modal .modal_stars li {
    list-style: none;
    display: inline-block;
    color: rgb(243, 227, 174);
}

.button_modal {
    border: none;
    background-color: #ebb;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    cursor: pointer;
}

/* colocar os keyframes */